@using DefaultNamespace
@using RestaurantClient.Controllers
@model List<Restaurant>
@*@model dynamic*@

@{
    ViewData["Title"] = "Restaurant";
    Layout = "_Layout";
    
}
<head>
    <title>Restaurants</title>
    <link rel="stylesheet" type="text/css" href="css/restaurant_index.css">
</head>
<input type="text" id="searchInput" placeholder="Search...">
<button id="sortByName" onclick="sortByName()">Sort by Name</button>
<button id="sortByLocation" onclick="sortByCity()">Sort by City</button>
<table class="dataTable" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>City</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="restaurant_data">
    @foreach (var restaurant in Model)
    {
        <tr data-name="@restaurant.Name"  data-city="@restaurant.City">
            <td class="name" >@restaurant.Name</td>
            <td>@restaurant.Description</td>
            <td class="city">@restaurant.City</td>
            <td>
                <button class="detail-button" onclick="location.href='@Url.Action("Details", "Restaurant", new { id = restaurant.Id })'">Details</button>
                <button class="delete-button" onclick="location.href='@Url.Action("Delete", "Restaurant", new { id = restaurant.Id })'">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>
<br/><br/>
@Html.ActionLink("Add restaurant", "Add", "Restaurant")
<script src="js/restaurant_index.js"></script>
